.container {
  max-width: 500px;
}
.l-heading {
  text-align: center;
}
.hero {
  margin-top: 100px;
}
.hero .container {
  flex-direction: column;
  height: auto;
  gap: 30px;
}

.hero .container .content {
  width: auto;
  text-align: center;
}
.imgbgcolor {
  display: none;
}

#why p {
  text-align: center;
}

#count .card:last-child {
  display: none;
}

.testimonials {
  flex-direction: column;
  align-items: center;
}

footer {
  background-repeat: repeat;
}

footer .container .brand-copyright {
  display: flex;
  align-items: center;
  gap: 350px;
}

footer .container .brand-copyright p {
  display: none;
}
footer .container .footer-content,
footer .container .footer-nav {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

/* Contact */
#contact p {
  font-size: 16px;
  text-align: center;
  width: unset;
}
#contact h3 {
  text-align: center;
}
.contact {
  flex-direction: column;
  gap: 30px;
}
.contact form,
.contact .detail {
  margin: auto;
  text-align: center;
  width: 100%;
}
.contact .detail {
  margin-bottom: 2rem;
}

/* About */
#about .container {
  flex-direction: column;
  gap: 30px;
}

#about .container .about-left,
#about .container .about-right {
  flex-basis: auto;
}
#about .container .about-left p {
  text-align: center;
}

#about .container .about-right .img-bg {
  width: 600px;
}

.miss-viz .container {
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.miss-viz .container > * {
  width: auto;
  line-height: 2;
}

#value .card {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#value .card .box {
  width: 300px;
}
